# Node modules
node_modules/

# Logs
*.log
logs/

# Environment files
.env
.env.local
.env.*.local

# Operating system files
.DS_Store
Thumbs.db

# Debugger
.vscode/

# Dependency directories
jspm_packages/

# NPM package lock files
package-lock.json

# Build output
/dist/
build/

# IDEs and Editors
.idea/
.vscode/

# Temporary files
*.bak
*.swp

# Coverage reports
coverage/

# Serverless Framework
.serverless/

# TypeScript files (if applicable)
*.tsbuildinfo
